.todo-list-item {
  margin-bottom: 5px;
  display: flex;
  background: #000;
  border-radius: 30px;
  transition: background 0.7s, border 0.7s;
}

.todo-list-item.important {
  background-color: red;
}

.todo-label {
  outline: none;
  flex: 1;
  padding: 17px 30px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  transition: color 0.7s;
}
.complete-btn,
.delete-btn,
.important-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: color 0.7s, background 0.7s;
}
.important-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
i {
  pointer-events: none;
}

.todo-list-item.done {
  background: #fff;
  border: 1px solid #000;
  text-decoration: line-through;
}
.todo-list-item.done button {
  background: #fff;
  color: #000;
}
.todo-list-item.done .todo-label {
  color: #000;
}
