.todo-list-item {
  margin-bottom: 5px;
  display: flex;
  background: #000;
  border-radius: 30px;
  transition: background 0.7s, border 0.7s;
}
.todo-label {
  outline: none;
  flex: 1;
  padding: 17px 30px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  transition: color 0.7s;
}
.complete-btn,
.delete-btn,
.edit-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: color 0.7s, background 0.7s;
}
.edit-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
i {
  pointer-events: none;
}
