.app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.panel {
  display: flex;
}
